<% layout('layout') %>
<article class="post--show">
    <section class="post--show__image">
        <img class="img-fluid" src="/images/cozy-apartment-living-room-ideas-kymacy.jpg" alt="">
    </section>

    <section class="post--show__info">
        <div>
            <h2><%= post.name %></h2>
            <div>
                <% if(Number(post.rating)) { %> 
                    <h3 class="post__rating"><b><%= post.rating %></b>/5</h3>
                <% } else { %>
                    <h3 class="post__rating"><b>N/D</b></h3>
                <% } %>
                <% if(currentUser && String(currentUser._id) === String(post.author._id)) { %> 
                    <button class="button--info" id="showInfoMenu"><%- partial('partials/svgs/info') %></button>
                <% } %>
            </div>
        </div>
        <p><%= post.description %></p>
    </section>

    <section class="post--show__map">
        <div style="background: black;"></div>
    </section>

    <section class="post--show__user">
        <div class="post--show__user__about">
            <small>by <%= post.author.username %></small>
            <small><%= post.location %></small>
        </div>
        <div>
            <div id="price" data-price="<%= post.price %>"><%= post.price %>€/day</div>
            <button class="button--main button--book" id="bookButton">Book Now!</button>
        </div>
    </section>
    <%- partial('partials/menu', { post }) %>
</article>
<%- partial('partials/book', { post }) %>
<%- partial('partials/review', { post }) %>
<div class="overlay" id="overlay"></div>
<script src="/js/menu.js"></script>
<script src="/js/modal.js"></script>
<script src="/js/summary.js"></script>